*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
  }
  /* this is a header style */
  
  .header{
      background-image: url(images/banner/banner3.png);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #fff;
    
  }
  .banner{
  margin-left: 1000px;
  
  }
  .banner-title{
      font-weight: 700;
      font-size: 60px;
      text-align: right;
      margin-right: 200px;
      line-height: 80px;
      letter-spacing: 2px;
      margin-bottom: 20px;
  }
  .banner-desc{
      font-weight:400;
      font-size: 26px;
      text-align: right;
      margin-right: 200px;
      margin-bottom: 25px;
      line-height: 30px;
      letter-spacing: 2px;
     }
     header .btn{
      font-weight: 600;
      font-size: 20px;
      color: #005fac;
      padding:18px 23px;
      margin-left: 400px;
      border-radius: 10px;
     }
     /*  */
     .failures{
      display: flex;
      align-items: center;
      margin: 120px 440px 120px 210px;
      justify-content: space-between;
  
     }
  .failures-title{
      font-size: 60px;
      font-weight: 400;
      color: black;
      font-weight: bold;
  }
  .failures-desc{
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: 400;
     margin: 15px;
  }
  .failures-body p{
    font-size: 30px;
  }
  .check{
      padding: 2px 4px;
      color: green;
      
  }
/*  */

/* images gallery */
.image-title{
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
    font-weight: 900;
     font-style: italic;
}
.images-gallery{
    display: flex;
    justify-content: space-around;
}
div.gallery {
    margin: 5px ;
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 60px;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 400px;
    height: 300px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
.gallery .desc{
   font-size: 30px;
}

  /* our plan start */
  .plan-details{
  display: flex;
  justify-content: space-around;
  /* width: 1200px; */
  width: 80%;
  margin: 0 auto;
  }
  .common-title{
      font-size: 30px;
      font-weight: 700;
      color: #151414;
      text-align: center;
  
  }
  .common-paragram{
      font-size: 25px;
      font-weight: 400;
      color: #737272;
      
  }
  .paln-title{
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 50px;
     
  }
  
    /*  call section*/
    .call-section{
        background: linear-gradient(-90deg,rgba(241,91,34,0) 10%,rgba(241,91,34,1) 95%),url(watch.png);
         
         background-repeat: no-repeat;
         background-size: cover;
         max-width: 80%;
         margin: 0 auto;
         height: 45vh;
         margin: 120px 230px;
         display: flex;
         justify-content: flex-start;
         align-items: center;
       
     }
     .call-btn{
         color:#F15b22;
         background-color: #fff;
         padding: 20px 36px;
         font-size: 20px;
         font-weight: 600;
         border: none;
         margin:20px 0 ;
         border-radius: 20px;
     }
     .call-details{
      margin-left: 40px;
     
     }
     .call-header{
       font-size: 40px;
       font-weight: 700;
       color: white;
     
     }
  
  /* footer section design */
  .contract-section{
      display: flex;
      gap: 350px;
      background-color: #151414;
      color: #f8f8f8;
      padding: 140px 250px;
      align-items: center;
    }
    .contract-section .contract-title2{
        font-size: 40px;
        font-weight: 600;
        margin: 25px 0;
        letter-spacing: 4px;
    }
    .contract-section   .contract-description{
      font-size: 20px;
      letter-spacing: 2.3px;
    }
    .contracts img{
        padding: 10px;
    }
    
    
    
    .contract-title1{
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .contract-description{
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 24px;
     line-height: 1.2;
     letter-spacing: 1.9px;
    }
    .contract-email{
        font-size: 25px;
    }
    
    .contract-phone{
        margin: 16px 0 30px ;
        font-size: 25px;
        font-weight: 600;
    }
    
    
    .contract-section input{
         margin-bottom: 20px;
         color: #fff;
         background-color: #151414;
         border: 1px solid #fff;
         padding: 22px 34px;
         font-size: 30px;
         border-radius: 10px;
    }
  
    .subscribe-btn{
      background-color: #fff;
      color: #F15b22;
      font-size: 20px;
      font-weight: 300;
      padding: 12px 16px;
      border-radius: 10px;
    }
    
  
  
  
  
  
  
  
  
  
  
  
  

   